@font-face {
  font-family: 'icomoon';

  src:  
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');

  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dots-vertical:before {
  content: "\e906";
}
.icon-account-multiple:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-email:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e904";
}
.icon-trending-up:before {
  content: "\e905";
}
.icon-bell-outline:before {
  content: "\e90d";
}
.icon-magnify:before {
  content: "\e90e";
}